---
export const prerender = true;

import Layout from "../../layouts/Layout.astro";
import HeadingWithBackground from "../../components/HeadingWithBackground.astro";
---

<Layout subtitle="About Us">
	<HeadingWithBackground background="/headingBackgrounds/rtmpDinos1.jpg">
		<h1>About Us</h1>
	</HeadingWithBackground>

	<p>
		Welcome to the Alberta Palaeontological Society (APS), a non-profit
		organization established in 1986 with a distinct mission.
	</p>

	<p>
		Our primary objective is to advance the field of palaeontology through
		dedicated study and comprehensive education. We proudly contribute to
		the growth of this scientific discipline by actively engaging in:
	</p>

	<ul>
		<li>Unearthing new discoveries</li>
		<li>Practicing ethical collection methods</li>
		<li>Ensuring meticulous curation and captivating display</li>
		<li>Educating the wider public about the wonders of palaeontology</li>
		<li>
			Safeguarding palaeontological specimens for both present and future
			generations
		</li>
	</ul>

	<p>
		Collaboration lies at the heart of our efforts. We collaborate with
		professional and academic circles, fostering a collective commitment to
		preserving and comprehending Alberta's rich heritage. Through close
		partnerships, we aid in the conservation and exploration of our region's
		historical treasures.
	</p>

	<p>
		At the APS, we are driven by a shared passion for palaeontology and a
		dedication to unearthing the mysteries of the past. Join us on this
		enthralling journey of discovery, knowledge, and preservation as we
		delve into the extraordinary world of Alberta's palaeontological
		heritage.
	</p>
</Layout>
