---
export const prerender = true;

import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import Disclaimer from "../components/Disclaimer.astro";

const allDisclaimers = await getCollection("disclaimers");
const renderedDisclaimers = await Promise.all(
  allDisclaimers
    .sort((a, b) => a.data.index - b.data.index)
    .map(async (disclaimer) => await disclaimer.render())
);
---

<Layout subtitle="Privacy Policy">
  <h1>Privacy Policy</h1>
  {
    renderedDisclaimers.map((disclaimer, index, allDisclaimers) => {
      const { Content } = disclaimer;
      return (
        <Disclaimer
          frontmatter={disclaimer.remarkPluginFrontmatter}
          last={index === allDisclaimers.length - 1}
        >
          <Content />
        </Disclaimer>
      );
    })
  }
</Layout>
