---
export const prerender = true;

import Layout from "../../layouts/Layout.astro";
import HeadingWithBackground from "../../components/HeadingWithBackground.astro";
---

<Layout subtitle="Resources">
	<HeadingWithBackground
		background="/headingBackgrounds/pointCampground1.jpg"
	>
		<h1>Resources</h1>
	</HeadingWithBackground>
	<p>
		Welcome to our Resources page, your gateway to a curated collection of
		valuable paleontological references. We've assembled an extensive list
		of resources, ranging from reputable websites and open-access journals
		to materials crafted by our own members. Whether you're a seasoned
		researcher or an enthusiastic beginner, our selection caters to all
		levels of interest and expertise.
	</p>

	<p>
		For a comprehensive overview of our resources, navigate using the menu.
	</p>
</Layout>
