---
import Layout from "../../layouts/Layout.astro";
import HeadingWithBackground from "../../components/HeadingWithBackground.astro";
---

<Layout subtitle="Library">
  <HeadingWithBackground
    background="/headingBackgrounds/redDeerRiverValley1.jpg"
  >
    <h2>APS Library Page</h2>
  </HeadingWithBackground>
  <p>
    The APS Library includes popular and technical books on all sorts of
    subjects related to palaeontology. The books are available to members and
    can be signed out on a short term basis.
  </p>
  <p>The APS Library is located in room B108 at Mount Royal University.</p>
  <p>
    A catalogue of all documents in the APS library is available to{" "}
    <a href="/library.xls">download in Excel format</a>.
  </p>
</Layout>
