---
export const prerender = true;

import Layout from "../../layouts/Layout.astro";
import HeadingWithBackground from "../../components/HeadingWithBackground.astro";
---

<Layout subtitle="Links">
	<HeadingWithBackground
		background="/headingBackgrounds/kpgBoundary.jpg"
		backgroundPositionY="63%"
	>
		<h1>Links</h1>
	</HeadingWithBackground>
	<p>
		The following are a collection of useful links about various aspects of
		palaeontology as selected by members of the APS.
	</p>
	<section>
		<h3>Alberta and Tourism</h3>

		<ul>
			<li>
				<a
					href="http://www.visitcalgary.com/"
					target="_blank"
					rel="noopener">Tourism Calgary</a
				>
			</li>
			<li>
				<a
					href="http://www.travelalberta.com/"
					target="_blank"
					rel="noopener">Travel Alberta</a
				>
			</li>
			<li>
				<a
					href="https://www.drumheller.ca/"
					target="_blank"
					rel="noopener">City of Drumheller</a
				>
			</li>
			<li>
				<a
					href="https://youtu.be/7bEuA7fUtgs//"
					target="_blank"
					rel="noopener"
					>Talking Rock Tours, an educational hiking and sightseeing
					adventure company based in Edmonton</a
				>
			</li>
			<li>
				<a
					href="http://www.sandstoneprehistoricsafaris.com//"
					target="_blank"
					rel="noopener"
					>Sandstone Prehistoric Safaris natural and cultural history
					tours and programs based in Calgary</a
				>
			</li>
		</ul>
	</section>

	<section>
		<h3>Alberta Museums, Parks, Universities, and Organizations</h3>

		<ul>
			<li>
				<a href="https://dinomuseum.ca/" target="_blank" rel="noopener"
					>Philip J. Currie Dinosaur Museum, Grande Prairie, Alberta</a
				>
			</li>
			<li>
				<a
					href="http://www.burgess-shale.bc.ca/"
					target="_blank"
					rel="noopener">The Yoho-Burgess Shale Foundation</a
				>
			</li>
			<li>
				<a
					href="http://www.dinosaurresearch.com"
					target="_blank"
					rel="noopener">Dinosaur Research Institute</a
				>
			</li>
			<li>
				<a
					href="http://geology.ags-aer.opendata.arcgis.com/"
					target="_blank"
					rel="noopener">Alberta Geological Survey</a
				>
			</li>
			<li>
				<a
					href="http://www.tyrrellmuseum.com"
					target="_blank"
					rel="noopener">Royal Tyrrell Museum of Palaeontology</a
				>
			</li>
			<li>
				<a
					href="https://www.royalalbertamuseum.ca/"
					target="_blank"
					rel="noopener"
				>
					Royal Alberta Museum (formerly Provincial Museum of Alberta,
					Edmonton)</a
				>
			</li>
			<li>
				<a
					href="http://www.albertaparks.ca/dinosaur.aspx"
					target="_blank"
					rel="noopener">Dinosaur Provincial Park</a
				>
			</li>
			<li>
				<a
					href="http://www.albertaparks.ca/media/2881/246.PDF"
					target="_blank"
					rel="noopener"
					>Map and Boundaries of Dinosaur Provincial Park</a
				>
			</li>
			<li>
				<a href="https://science.ucalgary.ca/geoscience" target="_blank"
					>University of Calgary Department of Geosciences</a
				>
			</li>
			<li>
				<a
					href="https://library.ucalgary.ca/branches/gallagher-library"
					target="_blank"
					rel="noopener"
					>Gallagher Library of Geology and Geophysics, U of C</a
				>
			</li>
			<li>
				<a
					href="http://www.mtroyal.ab.ca"
					target="_blank"
					rel="noopener">Mount Royal University</a
				>
			</li>
			<li>
				<a
					href="https://www.ualberta.ca/museums/museum-collections/vertebrate-paleontology.html"
					target="_blank"
					rel="noopener"
					>University of Alberta Laboratory for Vertebrate
					Palaeontology</a
				>
			</li>
			<li>
				<a
					href="https://www.ualberta.ca/museums/museum-collections/paleobotanical-collection.html"
					target="_blank"
					rel="noopener"
					>University of Alberta Palaeobotanical Collection</a
				>
			</li>
			<li>
				<a
					href="https://natural-resources.canada.ca/research-centres-and-labs/geological-survey-canada/17100"
					target="_blank"
					rel="noopener">Geological Survey of Canada</a
				>
			</li>
			<li>
				<a href="http://www.crlc.ca" target="_blank" rel="noopener"
					>Calgary Rock and Lapidary Club</a
				>
			</li>
		</ul>
	</section>

	<section>
		<h3>
			Amateur and Professional Palaeontology Links and Society Listings
		</h3>
		<ul>
			<li>
				<a href="http://www.prprc.com//" target="_blank" rel="noopener"
					>Peace Region Palaeontology Research Centre, Tumbler Ridge,
					B.C.</a
				>
			</li>
			<li>
				<a
					href="http://www.vcn.bc.ca/vanps/"
					target="_blank"
					rel="noopener">Vancouver Paleontological Society</a
				>
			</li>
			<li>
				<a href="http://www.bcfossils.ca" target="_blank" rel="noopener"
					>British Columbia Paleontological Alliance</a
				>
			</li>
			<li>
				<a
					href="https://www2.gov.bc.ca/gov/content/industry/natural-resource-use/fossil-management/mcabee"
					target="_blank"
					rel="noopener">The McAbee Fossil Beds, Cache Creek, B.C.</a
				>
			</li>
			<li>
				<a
					href="https://www.courtenaymuseum.ca/"
					target="_blank"
					rel="noopener"
					>Courtney &amp; District Museum &amp; Palaeontology Centre</a
				>
			</li>
			<li>
				<a
					href="http://www.vips-fossils.com/"
					target="_blank"
					rel="noopener">Vancouver Island Palaeontological Society</a
				>
			</li>

			<li>
				<a href="http://www.esconi.org" target="_blank" rel="noopener"
					>ESCONI - Earth Science Club of Northern Illinois</a
				>
			</li>
			<li>
				<a
					href="http://www.westernpaleo.org"
					target="_blank"
					rel="noopener"
					>WIPS - Western Interior Paleontological Society</a
				>
			</li>
			<li>
				<a
					href="http://midamericapaleo.org"
					target="_blank"
					rel="noopener">MAPS Mid - America Paleontology Society</a
				>
			</li>
			<li>
				<a
					href="http://www.utahpaleo.org/"
					target="_blank"
					rel="noopener">Utah Friends of Paleontology</a
				>
			</li>
			<li>
				<a
					href="http://www.aaps-journal.org/"
					target="_blank"
					rel="noopener"
					>The Journal of Paleontological Sciences, Association of
					Applied Paleontological Sciences</a
				>
			</li>

			<li>
				<a
					href="http://www.equisetites.de/palbot1.html"
					target="_blank"
					rel="noopener">Links for Palaeobotanists</a
				>
			</li>
			<li>
				<a href="http://www.spnhc.org" target="_blank" rel="noopener"
					>Society for the Preservation of Natural History Collections</a
				>
			</li>
		</ul>
	</section>

	<section>
		<h3>General Paleontology, Science, and Museums</h3>

		<ul>
			<li>
				<a href="https://nature.ca/en/" target="_blank" rel="noopener"
					>Canadian Museum of Nature, Ottawa, Ontario</a
				>
			</li>
			<li>
				<a
					href="http://www.vertpaleo.org"
					target="_blank"
					rel="noopener">Society of Vertebrate Paleontology</a
				>
			</li>
			<li>
				<a
					href="http://palaios.geoscienceworld.org/"
					target="_blank"
					rel="noopener"
				>
					PALAIOS</a
				>
			</li>
			<li>
				<a
					href="https://cdnsciencepub.com/journal/cjes"
					target="_blank"
					rel="noopener">Canadian Journal of Earth Sciences</a
				>
			</li>
			<li>
				<a href="http://www.rom.on.ca/en" target="_blank" rel="noopener"
					>Royal Ontario Museum, Toronto</a
				>
			</li>
			<li>
				<a
					href="https://www.cambridge.org/core/journals/journal-of-paleontology"
					target="_blank"
					rel="noopener"
				>
					Journal of Paleontology</a
				>
			</li>
			<li>
				<a
					href="https://cdnsciencepub.com/loi/cjb1"
					target="_blank"
					rel="noopener">Canadian Journal of Botany</a
				>
			</li>
			<li>
				<a href="http://www.amjbot.org/" target="_blank" rel="noopener"
					>American Journal of Botany</a
				>
			</li>
			<li>
				<a href="http://www.nature.com" target="_blank" rel="noopener"
					>Science Magazine "Nature"</a
				>
			</li>
			<li>
				<a href="http://www.app.pan.pl/" target="_blank" rel="noopener"
					>Acta Palaeontologica Polonica</a
				>
			</li>
			<li>
				<a
					href="http://www.newscientist.com"
					target="_blank"
					rel="noopener">New Scientist</a
				>
			</li>
			<li>
				<a href="http://www.dinosaur.org" target="_blank" rel="noopener"
					>The Dinosaur Interplanetary Gazette</a
				>
			</li>
			<li>
				<a href="http://www.tarpits.org" target="_blank" rel="noopener"
					>George C Page Museum, La Brea Tar Pits, California, USA</a
				>
			</li>
			<li>
				<a
					href="https://naturalsciences.org/"
					target="_blank"
					rel="noopener"
					>North Carolina Museum of Natural Sciences, NC</a
				>
			</li>
			<li>
				<a
					href="http://www.museumoftherockies.org"
					target="_blank"
					rel="noopener">Museum of the Rockies, Bozeman, MT</a
				>
			</li>
			<li>
				<a
					href="http://www.ucmp.berkeley.edu"
					target="_blank"
					rel="noopener"
					>University of California Museum of Paleontology, Berkeley</a
				>
			</li>
			<li>
				<a href="http://www.nhm.ac.uk" target="_blank" rel="noopener"
					>Natural History Museum, London</a
				>
			</li>
			<li>
				<a href="http://www.palass.org" target="_blank" rel="noopener"
					>The Paleontological Association, UK</a
				>
			</li>
			<li>
				<a href="http://www.amnh.org" target="_blank" rel="noopener"
					>American Museum of Natural History, New York, USA</a
				>
			</li>
			<li>
				<a
					href="http://www.fieldmuseum.org/"
					target="_blank"
					rel="noopener">The Field Museum, Chicago, USA</a
				>
			</li>
			<li>
				<a href="https://www.nmbe.ch/en" target="_blank" rel="noopener"
					>Natural History Museum, Bern Switzerland</a
				>
			</li>
			<li>
				<a
					href="http://www.discovery.com"
					target="_blank"
					rel="noopener">The Discovery Channel</a
				>
			</li>
			<li>
				<a
					href="http://www.nationalgeographic.com"
					target="_blank"
					rel="noopener">National Geographic</a
				>
			</li>
			<li>
				<a
					href="http://www.enchantedlearning.com"
					target="_blank"
					rel="noopener">Kids Stuff</a
				>
			</li>
			<li>
				<a
					href="http://www.museumoftheearth.org/"
					target="_blank"
					rel="noopener"
					>Paleontological Research Institution / Museum of the Earth,
					Ithaca NY</a
				>
			</li>
			<li>
				<a href="http://www.spnhc.org" target="_blank" rel="noopener"
					>Society for the Preservation of Natural History Collections</a
				>
			</li>
			<li>
				<a href="http://www.nmnh.si.edu" target="_blank" rel="noopener"
					>National Museum of Natural History (Smithsonian
					Institution, Washington DC)</a
				>
			</li>
			<li>
				<a
					href="http://vishnu.glg.nau.edu/rcb/RCB.html"
					target="_blank"
					rel="noopener"
					>Sedimentary Geology on the Colorado Plateau,
					Palaeogeographic Maps</a
				>
			</li>
			<li>
				<a
					href="https://www.nationalgeographic.org/education/sea-monsters-education/"
					target="_blank"
					rel="noopener"
					>National Geographic Monsters of the Ancient Sea Multimedia</a
				>
			</li>

			<li>
				<a
					href="https://palaeo-electronica.org/content/"
					target="_blank"
					rel="noopener">Palaeontologia Electronica</a
				>
			</li>
			<li>
				<a href="http://www.ansp.org/" target="_blank" rel="noopener"
					>Academy of Natural Sciences of Drexel University,
					Philadelphia</a
				>
			</li>
			<li>
				<a
					href="http://jogginsfossilcliffs.net/index.php"
					target="_blank"
					rel="noopener">Joggins Fossil Cliffs, Nova Scotia</a
				>
			</li>
			<li>
				<a
					href="https://fundygeological.novascotia.ca/about-museum"
					target="_blank"
					rel="noopener"
					>Fundy Geological Museum, Parrsboro, Nova Scotia</a
				>
			</li>
		</ul>
	</section>

	<section>
		<h3>Fossil Classification, Identification, and Programmes</h3>

		<ul>
			<li>
				<a
					href="http://www.plesiosauria.com/"
					target="_blank"
					rel="noopener">The Plesiosaur Directory</a
				>
			</li>
			<li>
				<a
					href="http://www.trilobites.info/"
					target="_blank"
					rel="noopener">A Guide to the Orders of Trilobites</a
				>
			</li>
			<li>
				<a
					href="http://ucmp.berkeley.edu/clad/clad1.html"
					target="_blank"
					rel="noopener">Introduction to cladistic taxonomy</a
				>
			</li>
			<li>
				<a
					href="http://clamp.ibcas.ac.cn/"
					target="_blank"
					rel="noopener"
					>CLAMP Ancient Climate Analysis using leaf morphology</a
				>
			</li>
		</ul>
	</section>

	<section>
		<h3>Grants for students in Palaeontology</h3>
		<ul>
			<li>
				<a
					href="http://www.dinosaurresearch.com/4%20Grants.htm"
					target="_blank"
					rel="noopener"
					>Grants offered by Dinosaur Research Institute</a
				>
			</li>
		</ul>
	</section>

	<section>
		<h3>Books</h3>

		<ul>
			<li>
				<a
					href="http://www.paleopubs.com/index.htm"
					target="_blank"
					rel="noopener"
					>Paleo Publications, rare out of print used Geology, Natural
					History, Paleontology books, Journals and Magazines</a
				>
			</li>
		</ul>
	</section>
</Layout>

<style>
	section:not(:last-child) {
		border-bottom: solid 1px black;
		padding-bottom: calc(4 * var(--theme-spacing-base));
	}
</style>
