---
export const prerender = true;

import Layout from "../../layouts/Layout.astro";
import HeadingWithBackground from "../../components/HeadingWithBackground.astro";
---

<Layout subtitle="Open Source Publications">
	<HeadingWithBackground background="/headingBackgrounds/canyonCreek1.jpg">
		<h1>Open Source Publications with Emphasis on Local Content</h1>
	</HeadingWithBackground>

	<p>
		The APS Library includes popular and technical books on all sorts of
		subjects related to palaeontology. The following documents are available
		to members and can be signed out on a short term basis or can be
		downloaded here.
	</p>

	<ul>
		<li>
			<a href="/openSourcePublications/noad1.pdf"
				>Fossil hunting day trips from Calgary, Alberta</a
			> , generously donated by APS member, Jon Noad.
		</li>
		<li>
			<a href="/openSourcePublications/mundy.pdf">
				Stratigraphy, Sedimentology, Structural History and Exploration
				History of the Mississippian at Moose Mountain Southwestern
				Alberta Foothills</a
			> , generously donated by APS member, Dr. David Mundy.
		</li>
		<li><a href="https://www.academia.edu/112676060">Review of the surface Cretaceous-Paleogene (K-Pg) boundary localities of Alberta, Canada</a>, written by APS member Jacques LeBlanc. 
			
			<blockquote>The Cretaceous-Paleogene (K-Pg; formerly K-T) surface localities in Alberta offer a unique glimpse into the dramatic transition that occurred in Earth's history approximately 66 million years ago. This period marks the boundary between the Cretaceous and Paleogene epochs and is associated with one of the most devastating mass extinction events in the planet's history, including the extinction of the non-avian dinosaurs. In this book, we will delve into the surface localities in Alberta that provide valuable evidence and insights into this pivotal moment in time. We will examine eight surface K-Pg boundary localities, explore their geological context, and briefly highlight significant fossil assemblages below and above the boundary when possible.</blockquote>
				This publication can also be downloaded from 
	<ul><li><a href="https://sites.google.com/site/leblancjacques">Google Sites</a></li><li><a href="https://www.academia.edu/112676060">Academia.edu</a></li><li><a href="https://www.researchgate.net/publication/377002283_Review_of_the_surface_Cretaceous-Paleogene_K-Pg_boundary_localities_of_Alberta_Canada">ResearchGate</a></li></ul>
	</ul>
</Layout>
