/* Mostly class-based styles which should apply to the whole site */

.button {
    text-decoration: none;
    padding: 0.5rem;
    border-radius: var(--border-radius-medium);
    color: black;
    background-color: var(--background-colour-dark);
}

figcaption {
    text-align: center;
}

a {
    padding: calc(0.25 * var(--theme-spacing-base));
    text-decoration: none;
    color: var(--accent-colour-text);
    background-image: linear-gradient(
        var(--accent-colour-light),
        var(--accent-colour-light)
    );
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-size: 100% calc(0.75 * var(--theme-spacing-base));
    transition:
        background-size var(--transition-speed-slow) ease,
        background-position var(--transition-speed-slow) ease;
}
/* Email links */
a[href^='mailto:'] {
    --underline-colour: var(--accent-colour-1-light);
    background-image: linear-gradient(
        var(--underline-colour),
        var(--underline-colour)
    );
}

/* Telephone links */
a[href^='tel:'] {
    --underline-colour: var(--accent-colour-5-light);
    background-image: linear-gradient(
        var(--underline-colour),
        var(--underline-colour)
    );
}

a:hover {
    background-position: 0 0%;
    background-size: 100% 100%;
}

.reset-link-style {
    all: unset;
    display: inline;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}
.no-underline-effect {
    background: none;
    text-decoration: none;
    transition: none;
}

/* view transitions */
::view-transition-old(event-calendar-content),
::view-transition-new(event-calendar-content) {
    animation-duration: 200ms;
    animation-timing-function: ease;
}
::view-transition-old(event-calendar-content) {
    animation-name: fade-out;
}
::view-transition-new(event-calendar-content) {
    animation-name: fade-in;
}

@keyframes fade-in {
    from {
        opacity: 0.5;
        transform: translateY(8px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0.5;
        transform: translateY(-8px);
    }
}

/* Background colours for events */
.event-monthly-meeting {
    background-color: var(--accent-colour-1-medium);
    border: calc(0.5 * var(--theme-spacing-base)) solid
        var(--accent-colour-1-dark);
}
.event-monthly-meeting:hover {
    background-color: var(--accent-colour-1-light);
    border-color: var(--accent-colour-1-dark);
}
.event-field-trip {
    background-color: var(--accent-colour-2-light);
    border: calc(0.5 * var(--theme-spacing-base)) solid
        var(--accent-colour-2-dark);
}
.event-field-trip:hover {
    background-color: var(--accent-colour-2-lighter);
    border-color: var(--accent-colour-2-dark);
}
.event-symposium {
    background-color: var(--accent-colour-2-light);
    border: calc(0.5 * var(--theme-spacing-base)) solid
        var(--accent-colour-2-dark);
}
.event-symposium:hover {
    background-color: var(--accent-colour-2-lighter);
    border-color: var(--accent-colour-2-dark);
}
.event-fossil-sorting {
    background-color: var(--accent-colour-3-light);
    border: calc(0.5 * var(--theme-spacing-base)) solid
        var(--accent-colour-3-dark);
}
.event-fossil-sorting:hover {
    background-color: var(--accent-colour-3-lighter);
    border-color: var(--accent-colour-3-dark);
}
.event-external {
    background-color: var(--background-colour-dark);
    border: calc(0.5 * var(--theme-spacing-base)) solid
        var(--background-colour-darker);
}
.event-external:hover {
    background-color: var(--background-colour-medium);
    border-color: var(--background-colour-darker);
}
.event-default {
    background-color: var(--background-colour-dark);
    border: calc(0.5 * var(--theme-spacing-base)) solid
        var(--background-colour-darker);
}
.event-default:hover {
    background-color: var(--background-colour-medium);
    border-color: var(--background-colour-darker);
}
