/* Variables */
:root {
    --theme-spacing-base: 4px;

    --background-colour-hue: 35;
    --background-colour-saturation: 50%;
    --background-colour-luminance: 87%;
    --background-colour-light: hsl(
        var(--background-colour-hue),
        var(--background-colour-saturation),
        calc(var(--background-colour-luminance) + 10%)
    );
    --background-colour-medium: hsl(
        var(--background-colour-hue),
        var(--background-colour-saturation),
        calc(var(--background-colour-luminance) + 0%)
    );
    --background-colour-dark: hsl(
        var(--background-colour-hue),
        var(--background-colour-saturation),
        calc(var(--background-colour-luminance) - 10%)
    );
    --background-colour-darker: hsl(
        var(--background-colour-hue),
        var(--background-colour-saturation),
        calc(var(--background-colour-luminance) - 20%)
    );

    --accent-colour-hue: 150;
    --accent-colour-saturation: 100%;
    --accent-colour-luminance: 20%;
    --accent-colour-light: hsl(
        var(--accent-colour-hue),
        var(--accent-colour-saturation),
        calc(var(--accent-colour-luminance) + 10%)
    );
    --accent-colour-medium: hsl(
        var(--accent-colour-hue),
        var(--accent-colour-saturation),
        calc(var(--accent-colour-luminance) + 0%)
    );
    --accent-colour-dark: hsl(
        var(--accent-colour-hue),
        var(--accent-colour-saturation),
        calc(var(--accent-colour-luminance) - 10%)
    );
    --accent-colour-darker: hsl(
        var(--accent-colour-hue),
        var(--accent-colour-saturation),
        calc(var(--accent-colour-luminance) - 20%)
    );
    --accent-colour-text: hsl(var(--accent-colour-hue), 90%, 5%);

    /* slate blue */
     --accent-colour-1-hue: 215;
    --accent-colour-1-saturation: 40%;
      --accent-colour-1-luminance: 60%;

      --accent-colour-1-lighter: hsl(var(--accent-colour-1-hue), var(--accent-colour-1-saturation), calc(var(--accent-colour-1-luminance) + 20%));
      --accent-colour-1-light: hsl(var(--accent-colour-1-hue), var(--accent-colour-1-saturation), calc(var(--accent-colour-1-luminance) + 10%));
      --accent-colour-1-medium: hsl(var(--accent-colour-1-hue), var(--accent-colour-1-saturation), var(--accent-colour-1-luminance));
      --accent-colour-1-dark: hsl(var(--accent-colour-1-hue), var(--accent-colour-1-saturation), calc(var(--accent-colour-1-luminance) - 10%));
      --accent-colour-1-darker: hsl(var(--accent-colour-1-hue), var(--accent-colour-1-saturation), calc(var(--accent-colour-1-luminance) - 20%));

    /* green */
      --accent-colour-2-hue: 90;
  --accent-colour-2-saturation: 30%;
  --accent-colour-2-luminance: 40%;

  --accent-colour-2-lighter: hsl(var(--accent-colour-2-hue), var(--accent-colour-2-saturation), calc(var(--accent-colour-2-luminance) + 20%));
  --accent-colour-2-light: hsl(var(--accent-colour-2-hue), var(--accent-colour-2-saturation), calc(var(--accent-colour-2-luminance) + 10%));
  --accent-colour-2-medium: hsl(var(--accent-colour-2-hue), var(--accent-colour-2-saturation), var(--accent-colour-2-luminance));
  --accent-colour-2-dark: hsl(var(--accent-colour-2-hue), var(--accent-colour-2-saturation), calc(var(--accent-colour-2-luminance) - 10%));
  --accent-colour-2-darker: hsl(var(--accent-colour-2-hue), var(--accent-colour-2-saturation), calc(var(--accent-colour-2-luminance) - 20%));

  /* orange */
   --accent-colour-3-hue: 25;
  --accent-colour-3-saturation: 80%;
  --accent-colour-3-luminance: 45%;

  --accent-colour-3-lighter: hsl(var(--accent-colour-3-hue), var(--accent-colour-3-saturation), calc(var(--accent-colour-3-luminance) + 20%));
  --accent-colour-3-light: hsl(var(--accent-colour-3-hue), var(--accent-colour-3-saturation), calc(var(--accent-colour-3-luminance) + 10%));
  --accent-colour-3-medium: hsl(var(--accent-colour-3-hue), var(--accent-colour-3-saturation), var(--accent-colour-3-luminance));
  --accent-colour-3-dark: hsl(var(--accent-colour-3-hue), var(--accent-colour-3-saturation), calc(var(--accent-colour-3-luminance) - 10%));
  --accent-colour-3-darker: hsl(var(--accent-colour-3-hue), var(--accent-colour-3-saturation), calc(var(--accent-colour-3-luminance) - 20%));

  /* burgundy */
  --accent-colour-4-hue: 350;
  --accent-colour-4-saturation: 50%;
  --accent-colour-4-luminance: 30%;

  --accent-colour-4-lighter: hsl(var(--accent-colour-4-hue), var(--accent-colour-4-saturation), calc(var(--accent-colour-4-luminance) + 20%));
  --accent-colour-4-light: hsl(var(--accent-colour-4-hue), var(--accent-colour-4-saturation), calc(var(--accent-colour-4-luminance) + 10%));
  --accent-colour-4-medium: hsl(var(--accent-colour-4-hue), var(--accent-colour-4-saturation), var(--accent-colour-4-luminance));
  --accent-colour-4-dark: hsl(var(--accent-colour-4-hue), var(--accent-colour-4-saturation), calc(var(--accent-colour-4-luminance) - 10%));
  --accent-colour-4-darker: hsl(var(--accent-colour-4-hue), var(--accent-colour-4-saturation), calc(var(--accent-colour-4-luminance) - 20%));

  /* teal */
  --accent-colour-5-hue: 185;
  --accent-colour-5-saturation: 50%;
  --accent-colour-5-luminance: 40%;

  --accent-colour-5-lighter: hsl(var(--accent-colour-5-hue), var(--accent-colour-5-saturation), calc(var(--accent-colour-5-luminance) + 20%));
  --accent-colour-5-light: hsl(var(--accent-colour-5-hue), var(--accent-colour-5-saturation), calc(var(--accent-colour-5-luminance) + 10%));
  --accent-colour-5-medium: hsl(var(--accent-colour-5-hue), var(--accent-colour-5-saturation), var(--accent-colour-5-luminance));
  --accent-colour-5-dark: hsl(var(--accent-colour-5-hue), var(--accent-colour-5-saturation), calc(var(--accent-colour-5-luminance) - 10%));
  --accent-colour-5-darker: hsl(var(--accent-colour-5-hue), var(--accent-colour-5-saturation), calc(var(--accent-colour-5-luminance) - 20%));

    /* Base error colour settings */
    --error-colour-hue: 0; /* Red hue */
    --error-colour-saturation: 80%; /* Saturation level */
    --error-colour-lightness: 50%; /* Base lightness */

    /* Variants based on lightness */
    --error-colour-lighter: hsl(
        var(--error-colour-hue),
        var(--error-colour-saturation),
        calc(var(--error-colour-lightness) + 30%)
    );
    --error-colour-light: hsl(
        var(--error-colour-hue),
        var(--error-colour-saturation),
        calc(var(--error-colour-lightness) + 15%)
    );
    --error-colour-medium: hsl(
        var(--error-colour-hue),
        var(--error-colour-saturation),
        var(--error-colour-lightness)
    );
    --error-colour-dark: hsl(
        var(--error-colour-hue),
        var(--error-colour-saturation),
        calc(var(--error-colour-lightness) - 15%)
    );
    --error-colour-darker: hsl(
        var(--error-colour-hue),
        var(--error-colour-saturation),
        calc(var(--error-colour-lightness) - 30%)
    );

    --accent-colour-1: 

    --transition-speed-slow: 0.6s;
    --transition-speed-medium: 0.45s;
    --transition-speed-fast: 0.3s;

    --border-radius-medium: var(--theme-spacing-base);
}
