/* Variables */
:root {
    --theme-spacing-base: 4px;

    --background-colour-hue: 35;
    --background-colour-saturation: 50%;
    --background-colour-luminance: 87%;
    --background-colour-light: hsl(
        var(--background-colour-hue),
        var(--background-colour-saturation),
        calc(var(--background-colour-luminance) + 10%)
    );
    --background-colour-medium: hsl(
        var(--background-colour-hue),
        var(--background-colour-saturation),
        calc(var(--background-colour-luminance) + 0%)
    );
    --background-colour-dark: hsl(
        var(--background-colour-hue),
        var(--background-colour-saturation),
        calc(var(--background-colour-luminance) - 10%)
    );
    --background-colour-darker: hsl(
        var(--background-colour-hue),
        var(--background-colour-saturation),
        calc(var(--background-colour-luminance) - 20%)
    );

    --accent-colour-hue: 150;
    --accent-colour-saturation: 100%;
    --accent-colour-luminance: 20%;
    --accent-colour-light: hsl(
        var(--accent-colour-hue),
        var(--accent-colour-saturation),
        calc(var(--accent-colour-luminance) + 10%)
    );
    --accent-colour-medium: hsl(
        var(--accent-colour-hue),
        var(--accent-colour-saturation),
        calc(var(--accent-colour-luminance) + 0%)
    );
    --accent-colour-dark: hsl(
        var(--accent-colour-hue),
        var(--accent-colour-saturation),
        calc(var(--accent-colour-luminance) - 10%)
    );
    --accent-colour-darker: hsl(
        var(--accent-colour-hue),
        var(--accent-colour-saturation),
        calc(var(--accent-colour-luminance) - 20%)
    );
    --accent-colour-text: hsl(var(--accent-colour-hue), 90%, 5%);

    /* Base error colour settings */
    --error-colour-hue: 0; /* Red hue */
    --error-colour-saturation: 80%; /* Saturation level */
    --error-colour-lightness: 50%; /* Base lightness */

    /* Variants based on lightness */
    --error-colour-lighter: hsl(
        var(--error-colour-hue),
        var(--error-colour-saturation),
        calc(var(--error-colour-lightness) + 30%)
    );
    --error-colour-light: hsl(
        var(--error-colour-hue),
        var(--error-colour-saturation),
        calc(var(--error-colour-lightness) + 15%)
    );
    --error-colour-medium: hsl(
        var(--error-colour-hue),
        var(--error-colour-saturation),
        var(--error-colour-lightness)
    );
    --error-colour-dark: hsl(
        var(--error-colour-hue),
        var(--error-colour-saturation),
        calc(var(--error-colour-lightness) - 15%)
    );
    --error-colour-darker: hsl(
        var(--error-colour-hue),
        var(--error-colour-saturation),
        calc(var(--error-colour-lightness) - 30%)
    );

    --transition-speed-slow: 0.3s;
    --transition-speed-medium: calc(var(--transition-speed-slow) * 1.5);
    --transition-speed-fast: calc(var(--transition-speed-slow) * 2);

    --border-radius-medium: var(--theme-spacing-base);
}
