---
---
<header>
  <div id="logo-titles">
	<div id="top-component">
	  <div id="titles">
		<h1>Alberta Paleontological Society</h1>
		<h2>
		  The Meeting Place for Amateur and Professional Paleontologists
		</h2>
	  </div>
	</div>
	<div id="other-logos">
	  <img
		src="/logos/aps-logo.gif"
		alt="Alberta Paleontological Society Logo"
		class="logo"
	  />
	  <img
		src="/logos/CEGA_logo.png"
		alt="Canadian Energy Geoscience Association Logo"
		class="logo"
	  />
	  <img
		src="/logos/MRU_logo1.png"
		alt="Mount Royal Univerity Logo"
		class="logo"
	  />
	</div>
  </div>
</header>

<style>
h1 {
}
h2 {
}
header {
	margin-top: 12px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
}

header img.logo {
	padding: 0 4px;
	height: 100px;
}

header img.main {
	padding: 4px;
	width: 100%;
	max-width: 600px;
}

header #other-logos {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}
header #top-component {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
</style>

