---
import Hamburger from "../components/Hamburger.astro";
const links: Array<{ href: string; label: string }> = [
	{ href: "/", label: "Home" },
	{ href: "/events", label: "Events" },
];
---

<!--
<Hamburger />
<nav style="border: solid 1px black;">
	<ul>
		{
			links.map(({ href, label }) => (
				<li>
					<a href={href}>{label}</a>
				</li>
			))
		}
	</ul>
</nav>
<style>
	nav {
		padding: 8px;
		position: sticky;
		top: 0;
	}
</style>
-->
