---
/**
 * The actualy links for navigation around the site. Compiled in one location because they will be used both in the mobile hambuger menu and the general menu for larger screens
 */
---

<ul>
	<li class="nav-li">
		<a href="#"> Home</a>
	</li>
	<li class="nav-li">
		<a href="events"> Events</a>
	</li>
</ul>

<style>
	.nav-li {
		display: block;
	}

	.nav-li a {
		margin: 0px 8px;
		padding: 8px 16px;
		display: block;
		transition: background-color var(--transition-speed-medium);
		border-radius: var(--border-radius-medium);
		text-decoration: none;
		color: inherit;
		font-size: 1.3rem;
		font-weight: bold;
	}

	.nav-li a:hover {
		padding: 8px 16px;
		display: block;
		background-color: var(--background-colour-dark);
	}
</style>
