---
/**
 * The actualy links for navigation around the site. Compiled in one location because they will be used both in the mobile hambuger menu and the general menu for larger screens
 */
---

<ul>
	<li>
		<a href="#"> Home</a>
	</li>
	<li>
		<a href="events"> Events</a>
	</li>
</ul>
