---
import EmailLink from "./EmailLink.astro";
import PhoneLink from "./PhoneLink.astro";

export interface Person {
	name: string;
	email?: string;
	telephone?: string;
}
export interface Props {
	title: string;
	person: Person;
}
const { title, person } = Astro.props;
---

<tr>
	<td>{title}</td>
	<td>{person.name}</td>
	<td>
		{person.email && <EmailLink email={person.email} />}
	</td>
	<td>
		{person.telephone && <PhoneLink number={person.telephone} />}
	</td>
</tr>

<style>
	td {
		padding-bottom: calc(2 * var(--theme-spacing-base));
		padding-left: 0;
		padding-right: 0;
	}
	tr {
		transition: background-color var(--transition-speed-medium);
	}
	tr:hover {
		background-color: var(--background-colour-dark);
	}
	td {
		padding-left: calc(2 * var(--theme-spacing-base));
		padding-right: calc(2 * var(--theme-spacing-base));
	}
</style>
