---
interface Props {
	day: number;
	events: Array<{
		startDate: string; // YYYY-MM-DD
		endDate: string; // YYYY-MM-DD
		title: string;
	}>;
}
const {day, events} = Astro.props;
---

<div class="event-calendar-day-cell">
	<span class="day-number">
		{day}
	</span>
{
	events.map((event) => {
		return <span class="event-title">
			{event.title}
		</span>
	})
}
</div>

<style>
	.event-calendar-day-cell {
		aspect-ratio: 1 / 1;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
	}
	.day-number {
		font-weight: bold;
		margin-bottom: 0.5rem;
	}
	.event-title {
		background-color: var(--background-colour-dark);
		border-radius: var(--border-radius-medium);
	}
</style>
