---
import Header from "../components/Header.astro";
import "../styling/variables.css";
import "../styling/globalStyles.css";
export interface Props {
	title?: string;
	subtitle?: string;
}

const defaultTitle = "APS";
const { title = defaultTitle, subtitle } = Astro.props;
const formattedTitle = `${title}${subtitle ? ` | ${subtitle}` : ""}`;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="description"
			content="Discover amateur palaeontology in Alberta and the society that supports it"
		/>
		<meta
			name="keywords"
			content="Alberta Palaeontological Society, Southern Alberta, Alberta, Calgary, Palaeontology, Paleontology, Palaeontology, Fossil, Fossils, Dinosaurs, Dinosaur Hunting, Preservation, digs, Digging, Science, Geology, Meeting, Meetings, Guide to Vertebrate Fossils from the Cretaceous of Alberta, Vertebrate Fossils, Hope Johnson, Hope Johnson drawings, Invertebrate fossils, Plant fossils, Amateur Paleontology, Amateur Palaeontology, Fossil Club, Amateur Palaeontology"
		/>
		<meta name="last-modified" content={new Date().toUTCString()} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="/logos/aps-logo.gif" />
		<meta name="generator" content={Astro.generator} />
		<title>{formattedTitle}</title>
	</head>
	<body>
		<Header />
		<div id="main">
			<main>
				<slot />
			</main>
		</div>
	</body>
</html>
<style is:global>
	html {
		font-family: system-ui, sans-serif;
		background-color: #f6f6f6;
		margin: 0;
		padding: 0;
		background-color: var(--background-colour-medium);
		color: var(--accent-colour-text);
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
			DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
	}
	* {
		box-sizing: border-box;
	}
	body {
		/* display: flex; */
		/* justify-content: space-between; */
		min-height: 100vh;
		margin: 0;
		/* margin: var(--theme-spacing-base); */
		padding: 0;
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: var(--accent-colour-medium);
	}
	#main {
		/* flex-grow: 1; */
		min-height: 100vh;
		display: flex;
		flex-direction: row;
		justify-content: center;
	}

	main {
		max-width: 1000px;
		padding: 1.5rem;
	}
</style>
