---
import NavBar from "../components/NavBar.astro";
import Header from "../components/Header.astro";
export interface Props {
	title?: string;
	subtitle?: string;
}

const defaultTitle = "APS";
const { title = defaultTitle, subtitle } = Astro.props;
const formattedTitle = `${title}${subtitle ? ` | ${subtitle}` : ""}`;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="description"
			content="Website for the Alberta Paleontological Society"
		/>
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="/logos/aps-logo.gif" />
		<meta name="generator" content={Astro.generator} />
		<title>{formattedTitle}</title>
	</head>
	<body>
		<!-- OLD VERSION OF THE NAV BAR
		<div id="nav-container" style="border: solid 1px red">
			<NavBar />
		</div>
		-->
		<div id="main">
			<div id="main-container">
				<Header />
				<slot />
			</div>
		</div>
		<!-- OLD SCRIPT TO CONTROL HAMBURGER MENU
		<script>
			document
				.querySelector(".hamburger")
				.addEventListener("click", () => {
					console.log("in hamburger onclick");
					document.querySelector("nav").classList.toggle("expanded");
				});
		</script>
			-->
	</body>
</html>
<style is:global>
	:root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			#da62c4 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		background-color: #f6f6f6;
		margin: 0;
		padding: 0;
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
			DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
	}
	* {
		box-sizing: border-box;
	}
	body {
		/* display: flex; */
		/* justify-content: space-between; */
		min-height: 100vh;
		margin: 0;
		padding: 0;
	}
	#main {
		/* flex-grow: 1; */
		min-height: 100vh;
		display: flex;
		flex-direction: row;
		justify-content: center;
	}

	#main-container {
		max-width: 1000px;
	}
	#nav-container {
		/* flex-grow: 1; */
	}
	/* .expanded { */
	/* 	display: unset; */
	/* } */
	/* @media screen and (min-width: 636px) { */
	/* 	nav { */
	/* 		margin-left: 5em; */
	/* 		display: block; */
	/* 		position: static; */
	/* 		width: auto; */
	/* 		background: none; */
	/* 	} */
	/* } */
</style>
