---
import Layout from "../../layouts/Layout.astro";
import EmailLink from "../../components/EmailLink.astro";
import PhoneLink from "../../components/PhoneLink.astro";
import HeadingWithBackground from "../../components/HeadingWithBackground.astro";
import { getCollection } from "astro:content";
import Event from "../../components/Event.astro";

const allEvents = await getCollection("events");
const renderedEvents = (
	await Promise.all(
		allEvents.map(async (event) => {
			return await event.render();
		})
	)
)
	.filter((e) => e.remarkPluginFrontmatter.type === "Field Trip")
	.sort((e1, e2) => {
		return e1.remarkPluginFrontmatter.startDate.localeCompare(
			e2.remarkPluginFrontmatter.startDate
		);
	});
---

<Layout subtitle="Field Trips">
	<HeadingWithBackground
		background="/assets/knudsensFarmIntro.jpg"
		backgroundPositionY="30%"
	>
		<h1>Field Trips</h1>
	</HeadingWithBackground>
	<p>Field trips are open to members only!</p>

	<h2>Registration and Payment</h2>

	<p>
		To register for a field trip, print off and fill out the <a
															   href="/fieldTrips/2025/APSFieldTripsForm2025.pdf">sign up sheet</a
		>, then mail to Keith at the address indicated on the sign up sheet
		along with the field trip fee.
	</p>

	<p>
		Continuing from previous years, you will be able to pay field trip fees by
		Interac E-transfer (Canada only). Follow directions on your bank’s
		online banking site or mobile app. Bank fees may apply. Payee is
		<EmailLink
			email="giftshop@albertapaleo.org"
			subject="Field Trip Fees for 2025"
		/>. Please state in the message field: “Field Trip Fees for 2025”. Email
		a scan or photo of the completed registration form to
		<EmailLink email="fieldtrips@albertapaleo.org" />.
	</p>

	<h2>Field Trip Terms</h2>
	<p>
		All fees are due at the time of registration. Fees for trips are generally, $10.00, although please check the individual trip.
		Non-members and unaccompanied minors will not be allowed to attend field
		trips. All participants are required to have their membership in good
		standing. Any membership applications received after May 1, 2025 will
		not be reviewed and voted on by the Board of Directors until September,
		2025. Therefore, if you are a non-member and would like to join be sure
		your application is received prior to May 1, 2025. All participants will
		be required to read and sign a release form (waiver). Detailed
		information will be provided to all those registered shortly after the
		registration deadline. After the registration deadline no refunds will
		be given; however, you will receive the guide for the trip.
		Registrations are accepted on a first come first served basis so sign up
		early to avoid disappointment. For the 2025 field trips Keith will be
		sending you the waiver and medical forms along with the trip
		information. This information will be sent to you via email or Canada
		Post. Please ensure that your addresses are correct and legible when
		sending in registration forms. When you arrive at the meeting place
		please have all forms completed. All participants are required to have
		fully completed all waiver and medical forms in order to attend the
		trip. There will be no exceptions. All personal information is held in
		confidence and ultimately destroyed.
	</p>

	<h2>Trip Participant Responsibilities</h2>
	<ul>
		<li>
			It is understood that risk is inherent to some degree in outdoor
			activities. Before registering for a trip please ensure you
			understand the risks involved and are prepared to accept them.
		</li>

		<li>
			As a participant you are responsible for your own safety and
			equipment at all times
		</li>

		<li>
			Inform the trip leader of any medical conditions they should be
			aware of in an emergency
		</li>

		<li>
			Ensure that your previous experience, ability and fitness level are
			adequate for the trip
		</li>
	</ul>

	<h2>Important Safety Information</h2>
	<p>
		The APS is concerned about the safety of its members during our field
		tip outings. Safety protocol requires that the SAFETY GUIDELINES must be
		communicated to and understood by those attending. You will be asked to
		sign our waiver as proof of your understanding of these SAFETY
		GUIDELINES.
	</p>

	<h2>Questions about field trips?</h2>

	<p>
		Contact Keith Mychaluk, the APS Fieldtrip Coordinator by e-mail at <EmailLink
			email="fieldtrips@albertapaleo.org"
		/> or phone at <PhoneLink number="(403) 809-3211" />.
	</p>

	<section>
		<h2>
			Forms
		</h2>
			<ul class="field-trip-forms-list">
				<li>
					<a href="/fieldTrips/2025/APSFieldTripsForm2025.pdf">2025 Registration Form</a>
				</li>
				<li>
					<a href="/fieldTrips/2025/forms/APS_Adult_Waiver.pdf">
						Adult Waiver
					</a>
				</li>
				<li>
					<a href="/fieldTrips/2025/forms/APS_Minor_Waiver.pdf">
						Minor Waiver
					</a>
				</li>
				<li>
					<a href="/fieldTrips/2025/forms/APS_ER_ContactMedInfo.pdf">
						Medical and Emergency Contact Information
					</a>
				</li>
			</ul>
	</section>

	<h2>Field Trips</h2>
	{
		renderedEvents.map((event, index, allEvents) => {
			const { Content, headings } = event;
			return (
				<Event
					frontmatter={event.remarkPluginFrontmatter}
					last={index === allEvents.length - 1}
				>
					<Content />
				</Event>
			);
		})
	}
	<details id="past-field-trips">
		<summary><h2>Past Field Trips</h2></summary>
	</details>
	<script>
		const today = new Date();
		const offset = today.getTimezoneOffset();
		const todayWithOffset = new Date(today.getTime() - offset * 60 * 1000);
		const todayString = todayWithOffset.toISOString().split("T")[0];

		const allEvents = Array.from(
			document.querySelectorAll('section[data-type="event"]')
		);
		const pastEvents = allEvents.filter(
			(event) => event.dataset.enddate < todayString
		);
		const pastFieldTripsDetails =
			document.querySelector("#past-field-trips");
		[...pastEvents ].reverse().forEach((pastEvent) =>
			pastFieldTripsDetails.appendChild(pastEvent)
		);

		if (pastEvents.length > 0) {
			pastFieldTripsDetails.classList.add("active");
		}
	</script>
</Layout>

<style>
	summary h2 {
		display: inline;
	}

	details {
		display: none;
		visibility: hidden;
	}
	details.active {
		display: block;
		visibility: visible;
	}
	ul.field-trip-forms-list {
		list-style: none;
		padding: 0;
		margin: 0;
	}
</style>
