---
import Layout from "../../layouts/Layout.astro";
import EmailLink from "../../components/EmailLink.astro";
import HeadingWithBackground from "../../components/HeadingWithBackground.astro";
import Event from "../../components/Event.astro";

import { getCollection } from "astro:content";

// get the next monthly meeting
const today = new Date();
const offset = today.getTimezoneOffset();
const todayWithOffset = new Date(today.getTime() - offset * 60 * 1000);
const todayString = todayWithOffset.toISOString().split("T")[0];

const allEvents = await getCollection("events");
const renderedEvents = (
	await Promise.all(
		allEvents.map(async (event) => {
			return await event.render();
		})
	)
)
	.filter((e) => {
		return (
			e.remarkPluginFrontmatter.startDate > todayString &&
			e.remarkPluginFrontmatter.type === "Monthly Meeting"
		);
	})
	.sort((e1, e2) => {
		return e1.remarkPluginFrontmatter.startDate.localeCompare(
			e2.remarkPluginFrontmatter.startDate
		);
	});

/* let nextEvent; */
/* if (renderedEvents.length > 0) { */
/* 	nextEvent = renderedEvents[renderedEvents.length - 1]; */
/* } */
---

<Layout subtitle="Monthly Meetings">
	<HeadingWithBackground
		background="/assets/devilsCouleeMuseum.jpg"
		backgroundPositionY="37%"
	>
		<h1>Monthly Meetings</h1>
	</HeadingWithBackground>
	<p>
		Monthly seminars and meetings are open to the public and generally occur
		on the third Friday of each month.
	</p>

	<p>
		If you would like to receive emails about upcoming events or further
		information about the scheduled events, contact Lacey Holoboff at <EmailLink
			email="programs1@albertapaleo.org"
		/>.
	</p>

	<p>
		Monthly meetings are held in room B108 in Mount Royal University, as
		shown on <a href="/level 1 map.pdf" target="_blank">this map</a>. Our
		room is shown with a red dot.
	</p>

	<p>
		<a
			href="https://www.mtroyal.ca/AboutMountRoyal/TransportationParking/_pdfs/Campus-Parking-Map.pdf"
			target="_blank"
			rel="noopener">University Lincoln Park Campus General Maps</a
		>
	</p>

	If you use the East Entrance (on the 1st level), turn right immediately
	after you enter through the revolving door. If you use the West Entrance (on
	the 2nd level) descend the steps to the lower floor and proceed to the end
	of the long hall and turn left into B wing.

	<p>
		<a
			href="https://www.mtroyal.ca/AboutMountRoyal/TransportationParking/_pdfs/Campus-Parking-Map.pdf"
			target="_blank"
			rel="noopener"
			>Parking map - Lincoln Park Campus, Mount Royal University</a
		>
	</p>

	{
		renderedEvents.length > 0 && (
			<>
				<h2>Upcoming Event{renderedEvents.length > 1 ? "s" : ""}</h2>
				{renderedEvents.map((event, index, allEvents) => {
					return (
						<Event
							frontmatter={event.remarkPluginFrontmatter}
							last={index === allEvents.length - 1}
						>
							<event.Content />
						</Event>
					);
				})}
			</>
		)
	}
</Layout>
