---
export const prerender = true

import Layout from '../../layouts/Layout.astro'
import HeadingWithBackground from '../../components/HeadingWithBackground.astro'
---

<Layout subtitle="Symposium">
	<HeadingWithBackground background="/headingBackgrounds/uofaMuseum1.jpg">
		<h1>Alberta Paleontological Society Symposium</h1>
	</HeadingWithBackground>

	<h2>Paleo 2024 - APS Symposium 2024</h2>

	<p>
		In conjunction with Mount Royal University Earth and Environmental
		Sciences and the CEGA Paleontology Division, we are pleased to announce
		that the 27<sup>th</sup> annual Alberta Palaeontological Society Symposium
		will take place on Saturday, March 16, 2024 from 9:00AM - 5:00PM.
	</p>

	<p>
		This symposium will contain presentations from a mix of amateur and
		professional palaeontologists. The aim is to showcase palaeontology to
		the general public and to provide an opportunity for contact between the
		Alberta Palaeontological Society, industry, government and educational
		facilities. The event is free and all are welcome to attend or join
		virtually. Families are encouraged to bring fossils to our
		identification booth where APS members will do their best to provide you
		with information.
	</p>

	<p>
		You can view a <a
			href="https://www.youtube.com/playlist?list=PLIbLEoMjr_5N6TiqYkZwFSTqoHC13T-WT"
		>
			selection of talks from the 2023 symposium
		</a> on our <a href="https://www.youtube.com/@AlbertaPaleo">
			YouTube channel
		</a>.
	</p>
</Layout>
